*
{
    margin: 0;
    font-family: 'Abhaya Libre', serif;
}

html
{
    overflow-x:hidden;
}

a
{
    text-decoration: none;

}


.type1{
    position: relative;
    left: 20%;
    margin: 3%;
    width: 420px;
    height: 420px;
    background-size: 100% 100%;
    display: inline-block;
    border-radius: 15px;
    transition: 0.5s;
}


.type1:hover
{
    transform: scale(1.1, 1.1);
}



.main{
    position: absolute;

    width: 100%;
    height: 100%;
    background: #4680E5;
}



.main h1{
    color: white;
}


/*.podval {*/
/*position: absolute;*/
    /*top: 80%;*/
    /*width: 100%;*/
    /*height: 20%;*/
    /*background: rgb(0, 145, 157);*/
/*}*/



.top{
    position: absolute;
    width: 100%;
    height: 20%;
    background: white;
}


.login{
    position: relative;
    size: 24px;
    color: black;
    font-family: Alata;
    left: 0.5%;
}

.lk img{

}

.main2{
    position: absolute;
    width: 60%;
    height: 81%;
    top: 20%;
    left: 20%;
    background: white;
}



.main2 form p{
    display: inline-block;
}

.main2 form input{
    display: inline-block;
}

.main2 h1{
    font-size: 60px;
    position: relative;
    font-weight: 800;
    margin-top: 3.4%;
    color: #3664B6;

}


.main2 h4 {
font-size: 36px;
    font-family: Alata serif;
    margin-top: 4%;
    margin-bottom: 2%;
}


.time1{
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    color: #999999;
}

.logo {
    position: absolute;
    margin: 1%;
}

.lang {
    position: relative;
    left: 90%;
    margin-bottom: -2%;
    top: 5%;
    cursor: pointer;
}

.login_form {
    position: relative;
    margin-top: 8%;
    left: 30%;
    background: url("img/login_form.png");
    background-size: 100% 100%;
    width: 617px;
    height: 671px;
}

.mail{
    background: url(img/user.png) no-repeat center left;
    background-color: white;
    border-radius: 4px;
    left: 95px;
    margin-top: 310px;
    position: relative;
    padding-left:32px;
    background-size: 28px;
    width: 400px;
    height: 62px;
    border: 1px;
    font-size: 30px;
}

.password{
    background: url(img/key.png) no-repeat center left;
    background-color: white;
    border-radius: 4px;
    left: 95px;
    margin-top: 3.8%;
    position: relative;
    padding-left:32px;
    background-size: 28px;
    width: 400px;
    height: 62px;
    border: 1px;
    font-size: 30px;
}

.login_button {
    background: url(img/button_login.png) no-repeat center;
    left: 102px;
    margin-top: 5%;
    position: relative;
    width: 414px;
    height: 64px;
    background-size: 100%;
    border-radius: 4px;
    border: 1px;
    transition: 0.5s;
}


.login_button:hover{
    transform: scale(1.1, 1.1);
}

.logo2 {
    margin-left: 0.5%;
}

.ava {

}

.lk{
    position: relative;
    left: 84%;
    margin-top: -7%;
}

.mood {
    width: 80px; /* Ширина рисунка */
    height: 140px; /* Высота рисунка */
    display: inline-block; /* Блочный элемент */
    position: relative; /* Относительное позиционирование */
    transition: 0.4s;
    margin-left: 2.5%;
    position: relative;
}



.mood:hover{
    transform: scale(1.05, 1.05);
}


.mood input[type="checkbox"]{
    display: none;
}

.mood input[type="checkbox"]:checked{
    display: block;
}

.t1 {
    width: 100%;
    height: 36px;
    background: #EAF2FD;
    border-radius: 6px;
    border: 0px;
    font-size: 30px;
    color: grey;
    margin-top: 2%;
}

.t2 {
    width: 100%;
    height: 36px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 30px;
    color: grey;
    margin-top: 3%;
    font-family: Alata serif;
}

.photo {
    width: 200px;
    margin-left: 2%;
    margin-top: 5%;
    cursor: pointer;
}

.rec {
    font-family: Alata serif;
    font-size: 26px;
    display: inline-block;
    font-weight: bold;
    margin: 2%;
}

.send_button {
    background: url(img/send.png) no-repeat center;
    position: relative;
    width: 45%;
    height: 64px;
    float: right;
    background-size: 100%;
    border-radius: 4px;
    border: 1px;
    transition: 0.5s;
}


.send_button:hover{
    transform: scale(1.1, 1.1);
}



.login2{
  font-family: Alata;
    font-style: normal;
    position: relative;
    font-size: 54px;
    display: inline-block;
    top: -25%;
    left: 5%;
    color: #000000;
}

.status {
position: relative;
    top: -35%;
    left: 55%;
    width: 18%;
}

.appointment {
    position: relative;
    top: -10%;
    left: 12%;
    width: 44%;
}