*
{
    margin: 0;
    font-family: 'Abhaya Libre', serif;
}

html
{
    overflow-x:hidden;
}

a
{
    text-decoration: none;

}


.type1{
    position: relative;
    left: 22%;
    margin: 3%;
    width: 420px;
    height: 420px;
    background-size: 100% 100%;
    display: inline-block;
    border-radius: 15px;
    transition: 0.5s;
}


.type1:hover
{
    transform: scale(1.1, 1.1);
}



.main{
    position: absolute;

    width: 100%;
    height: 100%;
    background: #4680E5;
}



.main h1{
    color: white;
}


/*.podval {*/
/*position: absolute;*/
    /*top: 80%;*/
    /*width: 100%;*/
    /*height: 20%;*/
    /*background: rgb(0, 145, 157);*/
/*}*/



.top{
    position: absolute;
    width: 100%;
    height: 20%;
    background: antiquewhite;
}


.login{
    position: relative;
    left: 70%;
}

.lk img{

}

.main2{
    position: absolute;
    width: 60%;
    height: 81%;
    top: 20%;
    left: 20%;
    background: white;
}

.main2 form p{
    display: inline-block;
}

.main2 form input{
    display: block;
}

.main2 h1{
    font-size: 70px;
    font-weight: 800;
}

.time1{
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    color: #999999;
}

.logo {
    position: absolute;
    margin: 1%;
}

.lang {
    position: relative;
    left: 90%;
    margin-bottom: -2%;
    top: 5%;
    cursor: pointer;
}

.login_form {
    position: relative;
    margin-top: 8%;
    left: 35%;
    background: url("img/login_form.png");
    background-size: 100% 100%;
    width: 663px;
    height: 671px;
}

.mail{
    background: url(img/user.png) no-repeat center left;
    background-color: white;
    border-radius: 4px;
    left: 95px;
    margin-top: 310px;
    position: relative;
    padding-left:32px;
    background-size: 28px;
    width: 430px;
    height: 62px;
    border: 1px;
    font-size: 30px;
}

.password{
    background: url(img/key.png) no-repeat center left;
    background-color: white;
    border-radius: 4px;
    left: 95px;
    margin-top: 3.8%;
    position: relative;
    padding-left:32px;
    background-size: 28px;
    width: 430px;
    height: 62px;
    border: 1px;
    font-size: 30px;
}

.login_button {
    background: url(img/button_login.png) no-repeat center;
    left: 102px;
    margin-top: 5%;
    position: relative;
    width: 444px;
    height: 64px;
    background-size: 100%;
    border-radius: 4px;
    border: 1px;
    transition: 0.5s;
}


.login_button:hover{
    transform: scale(1.1, 1.1);
}